@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #050505;
    color: #FFFAFA;
    font-family: 'Poppins';
}


h2 {
    font-size: 4rem;
    color: #DAA520;
    padding-bottom: 0px;
    padding-left: 20px;
    background: url(../images/ligne.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-bottom: 100px;
    animation: fadeIn 1.5s ease;

}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

button {
  background-color: #fcb900;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 15px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(255, 204, 0, 0.4);
}

body.darkmode h2{
  background: url(../images/ligne_light.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

#planning{
    padding: 80px 20px;
    text-align: center;
}

.planning-pdf {
  max-width: 1200px;
  margin: 0 auto;
  border: 5px solid #FCB900;
  border-radius: 10px;
  overflow: hidden;
}

#categories {
  padding: 80px 20px;
  text-align: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.categorie{
    position: relative;
    overflow: hidden;
    border: 3px solid #DAA520;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.categorie img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(30%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.categorie p{
    font-size: 20px;
    color: #DAA520;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.3s ease, font-size 0.3s ease;
}

.categorie:hover img {
  filter: brightness(80%);
  transform: scale(1.05);
}

.categorie:hover {
  border-color: #FFFAFA;
}

.categorie:hover p {
  color: #FFFAFA;
  font-size: 22px;
}



#tarifs {
  padding: 80px 20px;
  text-align: center;
}


.section-titre h3 {
  color: #FFFAFA;
  font-weight: 26px;
  margin-bottom: 40px;
}


.table-tarifs table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 16px;
}

.table-tarifs th, .table-tarifs td {
  border: 1px solid #DAA520;
  padding: 12px 10px;
}

.notes-tarifs ul {
    list-style: none;
}