:root {
    --primary-color: #DAA520;
    --background-color: #121212;
    --text-color: #fffAfa;
    --nav-height: 80px;
}

.darkmode {
    --background-color: #FFFAFA;
    --text-color: #050505;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-content {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    display: flex;
    align-items: center; 
}

.nav-links li.logo img {
    margin-top: 50px;
    height: 144px;
    display: block;
}

.nav-links a {
    font-family: "Poppins", system-ui, sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    display: inline-flex;
    align-items: center;
    height: 64px; 
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: #DAA520;
    transition: width 0.3s ease;
}

.nav-links a:hover::after, .nav-links a.active::after {
    width: 100%;
}


.nav-links a:hover, .nav-links a.active {
    color: #DAA520;
}

.nav-links li.logo a::after {
    display: none;
}

.nav-links li.logo a:hover {
    color: inherit;
}



.logo-mobile {
    display: none;
    position: absolute;
    top: 15px;
    left: 50px;
    height: 124px;
    
}

.icons {
    position:absolute;
    right: 50px;
    top: 40px;
    font-size: 2.8rem;
    color: #DAA520;
    cursor: pointer;
    display: none;
}

#verif{
    display: none;
}

#theme-switcher {
    color: #050505;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFFAFA;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position :fixed;
    top: 20px;
    right: 20px;
}

#theme-switcher svg {
    fill : #050505;
}

#theme-switcher svg:last-child {
    display: none;
}

.darkmode #theme-switcher svg:last-child {
    display: block;
}

.darkmode #theme-switcher svg:first-child {
    display: none;
}

@media screen and (max-width: 975px) {

    .icons{
        display: block;
        z-index: 1001;
    }

    #theme-switcher{
    position: fixed;
    top: 86%;
    right: 46%;
}

    #verif:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

    #verif:checked~.icons #close-icon{
        position: fixed;
        right: 50px;
        top: 50px;
        display: block;
    }

    .nav-links{
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(10px);
        letter-spacing: normal;
        gap: 3rem;
        width: 100%;
        height: 0;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
        transition: all 0.3s ease;
    }

   #verif:checked ~ .nav-content .nav-links {
        height: 100vh;
        transform: translateY(0);
    }

    .nav-links .logo {
        display: none;
        position: absolute;
        top: 20px;
        left: 50
    }

    .logo-mobile {
        display: block;
    }
}